header {
  height: 50px;
  position: relative;
  z-index: 1;
  background: #F78D3F;

  /* // petite fleche en bas du header
  &:after { content:'';
      width:0; height:0;
      display:block; position:absolute; top:100%; left:50%;
      margin-left:-4px; border:4px solid transparent; border-top-color:black;
  } */

  /* .logo {
      display:block; margin:0 auto;
      width:100px; height:45px;
      background:url(../../images/logo.png) no-repeat center center;
      background-size:contain;
  } */
  .menu-home {
    font-size: 28px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    color: #FCD271;
  }

  a:link, a:visited, a:hover {
    color: #336699;
  }

}


