header {
  height: 50px;
  position: relative;
  z-index: 1;
  background: #F78D3F;

  .menu-home {
    font-size: 28px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    color: #FCD271;
  }

  a:link, a:visited, a:hover {
    color: #336699;
  }

}


